/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
    background-color: bisque;
    text-align: center;
}

h1{
    color: rgb(44, 2, 44);
}

p{
    color: rgb(44, 2, 44);
}

h2{
    color: rgb(44, 2, 44);
}

#Calculate{
    color:rgb(44, 2, 44);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
